@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700);


@font-face
{
	font-family: TradeCaps;
	src: url(../fonts/tradegothic/TradeGothicLTStd-BdCn20.otf);
	font-weight: normal;
}

@font-face
{
	font-family: TradeCopy;
	src: url(../fonts/tradegothic/TradeGothicLTStd.otf);
	font-weight: normal;
}


body {
	font-family: "TradeCaps", sans-serif;
	margin:0;
	padding:0;
}

#graphMain {
	width: 1920px;
	height: 1080px;
	background-image: url(../img/bg.jpg);
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: #fd5300;
  stroke-width: 13px;
  color: #fd5300;
}
.tick {
	stroke: #eee;
	stroke-width:0.5px;
}

.tick text {
	font-size: 30px;
	font-weight: strong;
}
#graph {
	width: 1920px;
	height: 1080px;
}
.legend {
	cursor:pointer;
}

.legend text {
	font-size: 14px;
}

.domain {
	display:none;
}