@font-face
{
	font-family: FuturaBold;
	src: url(FuturaStd-CondensedExtraBd.otf);
	font-weight: normal;
}

@font-face
{
	font-family: FuturaBold;
	src: url(FuturaStd-CondExtraBoldObl.otf);
	font-weight: bold;
}
